<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.PollBuzz.pollbuzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name=".results.Image_type_result">

        </activity>
        <activity android:name=".results.Ranking_type_result" >


        </activity>

        <activity android:name=".responses.Image_type_responses" >

        </activity>
        <activity android:name=".responses.Ranking_type_response" >

        </activity>
        <activity android:name=".results.ResultActivity" />
        <activity android:name=".results.Descriptive_type_result" />
        <activity android:name=".results.Multiple_type_result" />
        <activity android:name=".results.Single_type_result" />
        <activity android:name=".navFragments.VotedFeed" />
        <activity android:name=".navFragments.HomeFeed" />
        <activity android:name=".responses.Multiple_type_response" />
        <activity android:name=".responses.Descriptive_type_response" />
        <activity android:name=".LoginSignup.ProfileSetUp" />
        <activity android:name="Utils.AuthCheck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Utils.ImagePickerActivity" />
        <activity android:name=".responses.Single_type_response" />
        <activity android:name=".polls.Image_type_poll" />
        <activity android:name=".polls.Ranking_type_poll" />
        <activity android:name=".polls.Descriptive_type_poll" />
        <activity android:name=".polls.Multiple_type_poll" />
        <activity android:name=".PollList" />
        <activity android:name=".polls.Single_type_poll" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".LoginSignup.LoginSignupActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/NoActionBar" /><!-- cache directory file provider paths -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>