<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.PollBuzz.pollbuzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity
                android:name=".results.Image_type_result"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".results.Ranking_type_result"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".responses.Image_type_responses"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".responses.Ranking_type_response"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".results.ResultActivity"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".results.Descriptive_type_result"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".results.Multiple_type_result"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".results.Single_type_result"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".navFragments.VotedFeed"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".navFragments.HomeFeed"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".responses.Multiple_type_response"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".responses.Descriptive_type_response"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".LoginSignup.ProfileSetUp"
                android:screenOrientation="unspecified" />
        <activity
                android:name="Utils.AuthCheck"
                android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="Utils.ImagePickerActivity"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".responses.Single_type_response"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".polls.Image_type_poll"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".polls.Ranking_type_poll"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".polls.Descriptive_type_poll"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".polls.Multiple_type_poll"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".PollList"
                android:screenOrientation="unspecified" />
        <activity
                android:name=".polls.Single_type_poll"
                android:screenOrientation="unspecified" />
        <activity
            android:name=".MainActivity"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="unspecified"
                android:theme="@style/NoActionBar" />
        <activity android:name=".LoginSignup.LoginSignupActivity" android:screenOrientation="fullSensor"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="unspecified"
            android:theme="@style/NoActionBar" />
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>