<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.PollBuzz.pollbuzz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:targetApi="q">
        <activity
                android:name=".ProfileFeed"
                android:theme="@style/NoActionBar">
        </activity>
        <activity android:name=".Single_type_response" />
        <activity android:name="Utils.ImagePickerActivity" />
        <activity android:name=".AuthCheck">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".Image_type_poll" />
        <activity android:name=".Ranking_type_poll" />
        <activity android:name=".Descriptive_type_poll" />
        <activity android:name=".Multiple_type_poll" />
        <activity android:name=".Poll_list" />
        <activity android:name=".Single_type_poll" />
        <activity android:name=".ProfileSetUp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login_Signup_Activity" />
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="fullSensor"
                android:theme="@style/NoActionBar" /> <!-- cache directory file provider paths -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>